@charset "UTF-8";

/* Mobile First */
/* Resolução Mobile testada 720 x 1600*/

:root {
    --cor1: #F3EFE5;
    --cor2: #E9DFC7;
    --cor3: #CEBEA3;
    --cor4: #BFCCA8;
    --cor5: #AF9C7C;
}

* {
    margin: 0px;
    height: 0px;
}

#header {
    background-color: var(--cor5);
    width: 100vw;
    height: 12vh;
}

#principaltext {
    position: absolute;

    font-size: 10vw;

    margin-left: 250px;
    margin-top: 40px;
}